[Desktop Entry]
Encoding=UTF-8
Name=Skinxxx
Comment=Skinxxx P2P Cryptocurrency
Comment[fr]=Skinxxx, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Skinxxx, eşten eşe kriptografik sanal para birimi
Exec=skinxxx-qt %u
Terminal=false
Type=Application
Icon=skinxxx128
MimeType=x-scheme-handler/skinxxx;
Categories=Office;Finance;
